<!doctype html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="layout(content)"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
  </head>
  <body>
    <h1 class="text-center p-3 mb-2 bg-primary-subtle text-primary-emphasis">
      <i class="fa-solid fa-book"></i>
      Library Management
    </h1>

    <ul
      class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"
      id="pillNav2"
      role="tablist"
      style="
        --bs-nav-link-color: var(--bs-white);
        --bs-nav-pills-link-active-color: var(--bs-primary);
        --bs-nav-pills-link-active-bg: var(--bs-white);
      "
    >
      <!-- BEFORE LOGIN -->

      <li class="nav-item" role="presentation" sec:authorize="isAnonymous()">
        <a
          th:href="@{/login}"
          th:classappend="${activePage == 'login'} ? 'active'"
          class="nav-link rounded-5"
        >
          <i class="fa-solid fa-user-lock"></i>
          Login
        </a>
      </li>

      <li class="nav-item" role="presentation" sec:authorize="isAnonymous()">
        <a
          th:href="@{/signup}"
          th:classappend="${activePage == 'signup'} ? 'active'"
          class="nav-link rounded-5"
        >
          <i class="fa-solid fa-user-plus"></i>
          SignUp
        </a>
      </li>

      <!-- AFTER LOGIN -->

      <li
        class="nav-item"
        role="presentation"
        sec:authorize="isAuthenticated()"
      >
        <a
          sec:authorize="hasRole('USER')"
          th:href="@{/user}"
          th:classappend="${activePage == 'user'} ? 'active'"
          class="nav-link rounded-5"
        >
          User
          <i class="fa-regular fa-user"></i>
        </a>

        <a
          sec:authorize="hasRole('ADMIN')"
          th:href="@{/admin/index}"
          th:classappend="${activePage == 'admin_dashboard'} ? 'active'"
          class="nav-link rounded-5"
        >
          Admin
          <i class="fa-solid fa-address-card"></i>
        </a>
      </li>

      <li
        class="nav-item"
        role="presentation"
        sec:authorize="isAuthenticated()"
      >
        <a
          th:href="@{/user/book}"
          th:classappend="${activePage == 'user_book'} ? 'active'"
          class="nav-link rounded-5"
        >
          Book
          <i class="fa-solid fa-database"></i>
        </a>
      </li>

      <!-- <li
        class="nav-item d-flex align-items-center justify-content-center text-white"
        sec:authorize="isAuthenticated()"
      >
        Welcome,
        <span class="ms-1 fw-bold" th:text="${#strings.capitalize(user.name)}"></span>
      </li> -->

      <li
        class="nav-item"
        role="presentation"
        sec:authorize="isAuthenticated()"
      >
        <a th:href="@{/logout}" class="nav-link rounded-5">Logout
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
      </li>
    </ul>

    <div th:replace="${content}"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/index.js}"></script>
  </body>
</html>
